
<style>
      body {
        margin: 0;
        font-family: "Roboto", serif;
      }
      .header {
        background-color: #0171f9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
      }
      .logo {
        width: 200px;
      }
      .header-links a {
        color: white;
        padding: 5px 15px;
        text-decoration: none;
        border-radius: 15px;
      }
      .header-links a:hover {
        background-color: #2386fe;
      }
      .header-links button {
        background-color: #fe3a2f;
        color: #ffffff;
        border: none;
      }
      .header-links button:hover {
        background-color: #fe7db7;
        padding: 5px 15px;
        border-radius: 15px;
      }
    </style>