
<style>
      body {
        margin: 0;
        font-family: "Roboto", serif;
      }
      .header {
        background-color: #0171f9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
      }
      .logo {
        width: 200px;
      }
      .header-links a {
        color: white;
        padding: 5px 15px;
        text-decoration: none;
        border-radius: 15px;
      }
      .header-links a:hover {
        background-color: #2386fe;
      }
      .btn {
        background-color: #fe3a2f;
        border-radius: 15px;
        padding: 5px 15px;
        color: #ffffff;
        border: none;
      }
  
      .btn:hover {
        background-color: #fe7db7;
      }
      .landing-page {
        background-color: #0171f9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
        color: #ffffff;

      }
      .landing-page-search input {
      border-radius: 50px;
      border: none;
      outline: none;
      height: 30px;
      padding: 0 10px;
    }
      .landing-page-search button {
      position: absolute;
      height: 30px;
      left: 200px;
      }
      
    </style>